@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan: Hilangkan overscroll putih dan dukung dark mode */
html,
body {
  @apply min-h-screen bg-white text-black dark:bg-[#121212] dark:text-white overscroll-none;
}

blockquote {
  @apply pl-4 ml-0 border-l-4 italic text-sm text-[#555] border-[#ccc] dark:text-[#ccc] dark:border-[#444];
}

